<% @page_title = 'Contact Us' %>
<script src='https://www.google.com/recaptcha/api.js'></script>

<%= base_error_explanation @message %>

<p>Please fill out our contact form. All fields are required. If you wish to encrypt your message, please use my <a href='https://keybase.io/glitch'>keybase.io key</a>.</p>

<%= simple_form_for @message do |f| %>  
  <%= f.input :name, :label => 'Your name' %><br />
  <%= f.input :email, :label => 'Your email address' %><br />
  <%= f.input :subject, :label => 'Subject' %><br />
  <%= f.input :content, :label => 'Your message -- all HTML will be stripped. Limit 64KiB.', :input_html => { :class => 'full-width', :rows => 20 } %><br />
  
  <div class='g-recaptcha' data-sitekey='<%= Rails.application.secrets[:recaptcha][:mailer][:site_key] %>' data-theme='dark'></div>
  <br />

  <%= f.button :submit, 'Send Message' %>
<% end %>