<% @page_title = 'Create a Preorder' %>
<script src='https://www.google.com/recaptcha/api.js'></script>

<%= base_error_explanation @preorder %>

<p>Please fill out the following information to preorder one or more <%= @project.printable_name %> boards, parts kits, and/or fully assembled units. You will receive a confirmation email to the address provided. If you do not click the confirmation link in the email within 48 hours, your order will be dropped! Please <%= link_to 'contact us', new_message_path %> if there are any problems or questions.</p>
<br/>

<%= simple_form_for @preorder do |f| %>
  <%= hidden_field_tag :project, @project.name %>
  
  <%= f.input :name, :label => 'Your name' %><br />
  <%= f.input :email, :label => 'Your email address' %><br />
  <%= f.input :boards, :label => 'Quantity bare boards' %><br />
  <%= f.input :kits, :label => 'Quantity parts kits (excludes boards)' %><br />
  <%= f.input :assembled, :label => 'Quantity fully assembled units' %><br />

  <div class='g-recaptcha' data-sitekey='<%= Rails.application.credentials[:recaptcha][:preorder][:site_key] %>' data-theme='dark'></div>
  <br />

  <%= f.button :submit, 'Create Preorder' %>
<% end %>